* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

#header {
    font-size: 50px;
    width: 100%;
    background-color: rgb(198, 227, 252);
    text-align: center;
    padding: 30px;
}

#contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    background-color: rgb(188, 219, 188);
}

#calculos {
    margin: 10px;
}

#registros {
    text-align: center;
    margin-bottom: 10px;
}

#total {
    width: 80%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

#total button {
    margin-right: 5%;
}

#footer {
    color: aliceblue;
    width: 100%;
    background-color: rgb(105, 25, 65);
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.calculosS {
    width: 180px;
    color: rgb(1, 54, 3);
}

h2 {
    font-size: 40px;
    color: rgb(4, 4, 51);
    text-decoration: underline;
}